__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.vscode/
.idea/
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose*.yml
.env
.env.*
tests/
pytest.ini
README.md
alembic/
alembic.ini
.pytest_cache/
